*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
backup/
Images/
yolo_30000.weights
yolov3.weights
yolo_30000.weights yolov2-tiny.weights yolov3.weights
python/
data/
darknet53.conv.74
sw2.MP4
